[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"
requests-html = "*"
arrow = "*"
pillow = "*"
pyzbar = "*"
selenium = "*"
qrcode = "*"
pymongo = "*"
opencv-python = "*"
matplotlib = "*"
opencv-contrib-python = "*"
pytesseract = "*"
httpx = "*"
scrapy-redis = "*"
scrapy = "*"
mitmproxy = "*"
pyautogui = "*"
openai-whisper = "*"
pytest-playwright = "*"
pyexecjs = "*"
scrapy-playwright = "*"

[dev-packages]

[requires]
python_version = "3.11"
