[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
scrapy-playwright = "*"
scrapy = "*"
pycryptodome = "*"
requests-html = "*"
arrow = "*"
pillow = "*"
pyzbar = "*"
selenium = "*"
scrapy-redis = "*"
qrcode = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.8"
