[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
redis = "*"
pycryptodome = "*"
requests = "*"
qrcode = "*"
selenium = "*"
Scrapy = "*"
scrapy-redis = "*"
pymongo = "*"
arrow = "*"
pyzbar = "*"
pillow = "*"
opencv-python = "*"
pathlib = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.6"
